@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  user-select: none;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.backgroundContainer {
  background: rgb(111, 111, 111);
  background: linear-gradient(
    187deg,
    rgba(111, 111, 111, 0.1) 2%,
    rgba(89, 89, 89, 0.1) 24%,
    rgba(70, 70, 70, 0.1) 80%
  );
  padding: 16px;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(111, 111, 111);
  border-radius: 50rem;
}

input[type="range"] {
  accent-color: white;
  height: 4px;
}

input[type="range"]:hover {
  accent-color: white;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.sidebarSearch {
  transition: width 300ms;
}

.square-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, max(64px, 1fr)); */
  grid-template-columns: ;
  grid-gap: 10px;
  border: 2px solid blue;
}
.square-container-col-2 {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.square-container-col-3 {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.square-container-col-4 {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.square-container-col-5 {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.square {
  padding-top: 100%; /* padding trick directly on the grid item */
  box-sizing: border-box;
  position: relative;
}

.square .content {
  /* absolutely positioned */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
